<section class="get">
    <div class="get-wrapper container">
      <div class="get-options">
        <div class="get-title-mobile">Here is what you get</div>
        <div class="get-item">
          <div class="get-img"><img src="./imgs/web.png" alt="" /></div>
          <div class="get-content">
            <h2>Creatred to Make The Web Better</h2>
            <span class="item-plot"
              >Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
              laoreet vulputate dignissim. Sed id metus id quam auctor
              molestie eget ut augue.
            </span>
          </div>
        </div>
        <div class="get-item">
          <div class="get-img"><img src="./imgs/tool.png" alt="" /></div>
          <div class="get-content">
            <h2>Incredibly Powerful Tool</h2>
            <span class="item-plot"
              >Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
              felis odio, ut volutpat massa placerat ac. Curabitur dapibus
              iaculis mi gravida luctus. Aliquam erat volutpat.
            </span>
          </div>
        </div>
        <div class="get-item">
          <div class="get-img"><img src="./imgs/stuff.png" alt="" /></div>
          <div class="get-content">
            <h2>Experimental Stuff</h2>
            <span class="item-plot"
              >Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
              laoreet vulputate dignissim. Sed id metus id quam auctor
              molestie eget ut augue.
            </span>
          </div>
        </div>
        <div class="get-item">
          <div class="get-img"><img src="./imgs/created.png" alt="" /></div>
          <div class="get-content">
            <h2>Creatred to Make The Web Better</h2>
            <span class="item-plot"
              >Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
              laoreet vulputate dignissim. Sed id metus id quam auctor
              molestie eget ut augue.
            </span>
          </div>
        </div>
      </div>
      <div class="get-image">
        <div class="get-title-desktop">Here is what you get</div>
        <div class="get-img-code">
          <img src="./imgs/get-code.png" alt="" />
        </div>
      </div>
    </div>
  </section>