<section class="pricing">
  <div class="pricing-wrapper container">
    <h1 class="pricing-title">Fork Subscription Pricing</h1>
    <div class="pricing-options">
      <div class="pricing-items">
        <div class="item">
          <h1 class="item-title">Students</h1>
          <h2 class="item-price">$29</h2>
          <span class="item-month">per month</span>
          <div class="item-line"><img src="./imgs/item-line.png" alt="" /></div>
          <p class="item-plot item-one">Personal License</p>
          <a href="#" class="item-btn">purchase</a>
        </div>
        <div class="item">
          <h1 class="item-title">professional</h1>
          <h2 class="item-price">$59</h2>
          <span class="item-month">per month</span>
          <div class="item-line"><img src="./imgs/item-line.png" alt="" /></div>
          <p class="item-plot">Professional License</p>
          <p class="item-plot">Email Support</p>
          <a href="#" class="item-btn">purchase</a>
        </div>
      </div>
      <div class="pricing-items">
        <div class="item choosen">
          <h1 class="item-title choosen-title">agency</h1>
          <h2 class="item-price choosen-price">$99</h2>
          <span class="item-month choosen-month">per month</span>
          <div class="item-line choosen-line">
            <img src="./imgs/item-line.png" alt="" />
          </div>
          <p class="item-plot choosen-plot">1-12 Team Members</p>
          <p class="item-plot choosen-plot">Phone Support</p>
          <a href="#" class="item-btn choosen-btn">purchase</a>
        </div>
        <div class="item">
          <h1 class="item-title">enterprise</h1>
          <h2 class="item-price">$159</h2>
          <span class="item-month">per month</span>
          <div class="item-line"><img src="./imgs/item-line.png" alt="" /></div>
          <p class="item-plot">Unlimited Team Members</p>
          <p class="item-plot">24/ 7 Phone Support</p>
          <a href="#" class="item-btn">purchase</a>
        </div>
      </div>
    </div>
  </div>
</section>
