.container {
  // max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.editor {
  display: flex;
  flex-direction: column;
  &-plot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &-plot h1 {
    margin-top: 130px;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 54px;
    text-transform: uppercase;
    color: #635c73;
  }
  &-plot p {
    margin: 0 auto;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #323232;
    margin-bottom: 13px;
    max-width: 860px;
  }
  &-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -5px;
    margin-bottom: 60px;
  }
  &-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    height: 26px;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0%;
    margin-bottom: 20px;
  }
  &-btn span {
    background-color: white;
    width: 33%;
    padding: 5px 10px 5px 5px;
    border-left: 1px solid gray;
  }
  &-btn svg {
    margin: 5px 5px 5px 10px;
  }
  &-btn p {
    margin-right: 5px;
  }
}

@media screen and (max-width: 992px) {
  .editor {
    &-plot h1 {
      font-size: 42px;
    }
  }
}

@media screen and (max-width: 480px) {
  .editor {
    &-plot h1 {
      font-size: 26px;
    }
  }
}
