.get {
  background-color: #f4f4f4;
  overflow: hidden;

  &-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 95px;
    // margin-bottom: -35px;
  }
  &-title-mobile {
    display: none;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #8d81ac;
  }
  &-title-desktop {
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #8d81ac;
  }
  &-title-desktop::after,
  &-title-mobile::after {
    content: ">";
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #8d81ac;
  }
  &-title-desktop::before,
  &-title-mobile::before {
    content: "<";
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #8d81ac;
  }
  &-item {
    display: flex;
    margin-bottom: 35px;
  }
  &-img {
    margin-right: 23px;
    min-width: 111px;
    text-align: center;
  }
  &-content h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #323232;
    margin-bottom: 17px;
  }
  &-content span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #848e97;
  }
  &-options {
    width: 45%;
    margin-right: 50px;
  }
  &-image {
    width: 55%;
  }
}

@media screen and (max-width: 992px) {
  .get {
    background-color: white;
    &-title-mobile {
      display: block;
      margin-bottom: 50px;
      text-align: center;
    }
    &-title-desktop {
      display: none;
    }
    &-wrapper {
      flex-direction: column;
      overflow: visible;
    }
    &-options {
      width: 100%;
      margin-bottom: 60px;
    }
    &-image {
      width: 100vw;
    }
    &-img-code {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 680px) {
  .get {
    &-item {
      flex-direction: column;
      text-align: center;
    }
    &-img {
      margin: 20px 0;
    }
    &-img-code {
      display: flex;
      justify-content: flex-start;
    }
  }
}
