.pricing {
  background-image: url(../imgs/pricing-bg.png);
  &-wrapper {
    margin: 0 auto;
  }
  &-title {
    text-align: center;
    padding-top: 83px;
    padding-bottom: 60px;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #ffff;
  }
  &-options {
    display: flex;
    padding-bottom: 150px;
    justify-content: center;
  }
  &-items {
    display: flex;
    align-items: center;
  }
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 256px;
  margin-right: 15px;
  background-image: url(../imgs/item-bg.png);
  &-one {
    padding-bottom: 18px;
  }
  &-title {
    background-image: url(../imgs/heading-bg.png);
    padding: 36px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  &-price {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &-month {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 40px;
  }
  &-line {
    align-items: center;
    margin-bottom: 30px;
    img {
      width: 40px;
    }
  }
  &-plot {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
  }
  &-btn {
    margin-top: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #ffffff;
    background: url(../imgs/item-btn.png);
    padding: 15px 37px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
  }
}

.choosen {
  width: 300px;
  background: #463048;
  &-title {
    background-image: url(../imgs/choosen-bg.png);
    padding: 47px 0;
  }
  &-price {
    margin-top: 14px;
    margin-bottom: 16px;
    font-size: 82px;
  }
  &-month {
    margin-bottom: 50px;
  }
  &-line {
    margin-bottom: 40px;
  }
  &-btn {
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1180px) {
  .pricing {
    &-title {
      padding-bottom: 40px;
    }
    &-options {
      flex-direction: column;
      align-items: center;
      margin-bottom: -70px;
    }
    &-items {
      margin-bottom: 30px;
      margin-right: -15px;
    }
  }
}

@media screen and (max-width: 600px) {
  .pricing {
    &-title {
      padding-bottom: 30px;
    }

    &-options {
      flex-direction: column;
      align-items: center;
      margin-bottom: -18px;
    }
    &-items {
      align-items: center;
      flex-direction: column;
      margin-bottom: 0;
    }
  }
  .item {
    margin-bottom: 18px;
  }
}
