@import "_reset.scss";
@import "_font.scss";
@import "./mixins";
@import "./vars";
@import "content/header";
@import "content/comments-section";
@import "_editor.scss";
@import "_get.scss";
@import "_pricing.scss";

.wrapper {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 0;
    max-width: 1200px;
  }
}


